.header_style{ 
    background:rgb(0, 110, 255); 
    display: flex; 
} 
 
.block_text{ 
    width: 50%;  
    justify-content: center;  
    align-items: center; 
    margin-left: 60px; 
} 
 
.block_link{ 
    width: 50%;  
    display: flex; 
    justify-content: end;  
    align-items: center; 
    margin-right: 20px; 
} 
 
.header_h1{ 
    color: black;   
    font-size: 35px; 
} 
 
.header_h2{ 
    color: white; 
    font-weight: lighter; 
    margin-left: 40px; 
} 
 
.link{ 
    display: inline-block; 
    margin-right: 40px; 
    font-size: 30px; 
    color: black; 
} 
 
.container_reg_window{ 
    width: 500px; 
    margin-left: auto; 
    margin-right: auto; 
    border: solid 1px black; 
    padding-bottom: 30px; 
    margin-top: 50px; 
    margin-bottom: 50px; 
} 
 
.hreg{ 
    padding-left: 20px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
} 
 
.input{ 
    padding-left: 286px; 
    padding-top: 9px; 
    margin-left: 20px; 
} 
.select{ 
    width: 462px; 
    height: 30px; 
    margin-left: 20px; 
} 
 
footer{ 
    height: 100px; 
    background-color: rgb(49, 63, 52); 
} 
.div_footer{ 
    padding-top: 20px; 
    text-align: center; 
} 
 
.button{ 
    display: block; 
    width: 220px; 
    height: 50px; 
    font-size: 25px; 
    margin: 20px; 
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 20px;
}
header h2{
    margin-right: auto;
    font-size: 20px;
}
header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
.content {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}